<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Used Car Price Predictor</title>
      <link rel="stylesheet" href="static/css/style.css">
<!--    <script src="static/js/script.js"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="card mt-50" style="width:100%;height:100%">
        <div class="card-header">
          <div class="col-12" style="text-align:center">
            WELCOME TO THE USED CAR PRICE PREDICTOR
          </div>
        </div>
        <div class="card-body">
          <form method="get" accept-charset="utf-8">
            <div class="col-10 form-group" style="text-align:center">
            <label><b>Select The Company</b></label>
            <select class="selectpicker form-control" id="company" name="company" required="1" onchange="load_car_models(this.id,'car_models')">
              {% for company in companies %}
              <option value="{{company}}">{{company}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Select The Model</b></label>
            <select class="selectpicker form-control" id="car_models" name="car_models" required="1">
<!--              {% for model in car_models %}-->
<!--              <option value="{{model}}">{{model}}</option>-->
<!--              {% endfor %}-->
            </select>
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Select The Year</b></label>
            <select class="selectpicker form-control" id="year" name="year" required="1">
                {% for year in years %}
              <option value="{{year}}">{{year}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Select The Fuel Type</b></label>
            <select class="selectpicker form-control" id="fuel" name="fuel" required="1">
                {% for fuel in fuel_type %}
              <option value="{{fuel}}">{{fuel}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Select The Transmission Type</b></label>
            <select class="selectpicker form-control" id="transmission" name="transmission" required="1">
                {% for transmission in transmission_type %}
              <option value="{{transmission}}">{{transmission}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Enter The No. of Kms Driven</b></label>
            <input class="form-control" type="text" id="kmdriven" name="kmdriven" placeholder="Enter the Kms">
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Select The Mileage</b></label>
            <input class="form-control" type="text" id="mileage" name="mileage" placeholder="Enter the Mileage">
          </div>
          <div class="col-10 form-group" style="text-align:center">
            <label><b>Enter The Engine Power</b></label>
            <input class="form-control" type="text" id="engine" name="engine" placeholder="Enter in cc">
          </div>
            <div class="col-10 form-group" style="text-align:center">
            <button class="btn btn-primary form-control" onclick="send_data()">Predict</button>
          </div>

          </form>
            <div class="row">
                <div class="col-10" style="text-align:center">
                    <h3><span id="Prediction"></span></h3>
                </div>
            </div>

        </div>
      </div>

    </div>
  </div>
  <script>
        function load_car_models(company_id,car_model_id)
    {
        var company=document.getElementById(company_id);
        var car_model= document.getElementById(car_model_id);
        console.log(company.value);
        car_model.value="";
        car_model.innerHTML="";
        {% for company in companies %}
            if( company.value == "{{ company }}")
            {
                {% for model in car_models %}
                    {% if company in model %}

                        var newOption= document.createElement("option");
                        newOption.value="{{ model }}";
                        newOption.innerHTML="{{ model }}";
                        car_model.options.add(newOption);
                    {% endif %}
                {% endfor %}
            }
        {% endfor %}
    }

    function form_handler(event){
        event.preventDefault();
    }
    function send_data(){
        document.querySelector('form').addEventListener('submit',form_handler);

        var fd=new FormData(document.querySelector('form'));

        var xhr=new XMLHttpRequest();
        xhr.open('POST','/predict',true);
        document.getElementById("Prediction").innerHTML="Predicting";
        xhr.onreadystatechange=function(){
            if (xhr.readyState==XMLHttpRequest.DONE){
                document.getElementById("Prediction").innerHTML= "Rupees in Lakhs"+ xhr.responseText;
            }
        }
        xhr.onload=function(){}
        xhr.send(fd)
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>

</html>